In [4]:
 a = 1.1
 print(a)
 b = 2
 print(b)   #맨 밑 줄은 print 안 붙여도 됨

1.1
2

In [1]:
a = 1; print(type(a))   #함수명(input)

<class 'int'>

In [5]:
a = 1.1; print(type(a))

<class 'float'>

In [8]:
a = '123'   #single quote는 string
print(type(a))
print(int(a))
print(a[1])

b = float(a)
print(type(b))

<class 'str'>
123
<class 'float'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])  #대괄호는 index가 됨

<class 'str'>
e

In [12]:
a = [1, 2.3, 'a', 4]; print(type(a)); print(a[0])   #문자든 숫자든 여러 개를 대괄호로 모아놓은 게 list

<class 'list'>
1

In [13]:
a[2]

'a'

In [15]:
a = [1,'a', [3, '4']] #숫자, 문자, list 모두 들어갈 수 있음
print(len(a)) #문자열의 개수
print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

3
<class 'list'>
1
a
[3, '4']
4

In [16]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014} #dict는 list들의 pair / e.g. 전화번호부에서 사람이름:전화번호
print(type(a))
print(a['b'])   #a라는 변수의 b라는 표제어의 내용은 뭐냐

<class 'dict'>
apple